:root {
  --logo-colour: #ff962d;
  --secondary-colour: #7f7f7f;
  --facebook-colour: #4267b2;
  --instagram-colour: #cd486b;
  --linkedin-colour: #0e76a8;
}
.container1 {
  width: 98%;
  margin: 0 auto;
}
.navbar .logo {
  width: 150px;
  height: auto;
}
.navbar .navbar-nav .nav-link {
  margin: 0 0.5rem;
}
.navbar .navbar-nav .nav-link:hover,
footer .links a:hover {
  color: var(--logo-colour);
}
.navbar .nav-item.dropdown .dropdown-item:hover {
  color: var(--logo-colour);
}
footer .logo {
  width: 140px;
  height: auto;
}
.navbar .navbar-nav .nav-link.active {
  color: var(--logo-colour);
}
footer .links ul {
  padding: 0;
}
footer .links li {
  list-style-type: none;
  color: black !important;
}
footer .social-media-links a {
  color: white;
}
footer .social-media-links a:hover {
  color: white;
}
footer .social-media-links a.facebook_icon {
  background-color: var(--facebook-colour);
}
footer .social-media-links a.instagram_icon {
  background-color: var(--instagram-colour);
}
footer .social-media-links a.linkedin_icon {
  background-color: var(--linkedin-colour);
}
main {
  padding-top: 100px;
}

#demo {
  position: relative;
  width: 100vw;
  height: 300px;
  overflow: hidden;
}

#demo h3 {
  position: absolute;
  font-family: Georgia;
  font-weight: 500;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  visibility: hidden;
  font-size: 8rem;
  top: 100px;
}

#demo h3.active {
  color: var(--logo-colour);
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: var(--secondary-colour);
}

body::-webkit-scrollbar-thumb {
  background: var(--logo-colour);
}

/* Form Inputs Stylying */
.form-control:focus {
  border: 1px solid var(--logo-colour) !important;
  box-shadow: 0 0 0 0.1rem var(--logo-colour);
}

.submit .btn {
  border: 1px solid var(--logo-colour) !important;
  color: var(--logo-colour);
}

.submit .btn:hover {
  background: var(--logo-colour);
  color: white;
}

.submit .btn:focus {
  box-shadow: 0 0 0 0.25rem #ff962dad;
}
